/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page background */
body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: black;
}

/* Navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  border-bottom: 1px solid #222;
}

.navbar a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}

/* Main layout */
.main-layout {
  display: flex;
  flex-direction: column;      /* stack vertically */
  height: calc(100vh - 60px);
}

/* Canvas area */
.canvas-area {
  width: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

#art-canvas {
  width: 100%;
  height: 100%;
  background: #222;
}

/* Info panel */
.info-panel {
  display: flex;
  flex-direction: column; 
  align-items: center;         /* center horizontally */
  max-width: 600px;
  text-align: center;
  margin: 0 auto;       /* centers the whole info-panel block */
}

.primary-button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 30px;
  padding-top: 50px;
   max-width: 720px;   /* ideal reading width */
   text-align:justify;
   align-items: flex-start;
}

.footer {
      margin-top: 40px;
      border: #000;
      margin-bottom: 30px;
      margin: 0 auto;       /* centers the whole info-panel block */
}